# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log